rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    // Users Collection
    match /users/{email} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && (request.auth.token.email == null || email.matches('(?i)^' + request.auth.token.email + '$'));
    }

    // CoSplit Groups Collection
    match /cosplit_groups/{groupId} {
      allow read: if isAuthenticated() && (request.auth.token.email in resource.data.members);
      allow create: if isAuthenticated() && (request.auth.token.email in request.resource.data.members);
      allow update: if isAuthenticated() && (request.auth.token.email in resource.data.members);
      allow delete: if isAuthenticated() && resource.data.createdById == request.auth.uid;

      // Expenses Subcollection
      match /expenses/{expenseId} {
        allow read, write: if isAuthenticated() && (request.auth.token.email in get(/databases/$(database)/documents/cosplit_groups/$(groupId)).data.members);
      }
    }
  }
}
