<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <queries>
        <!-- India Payment Apps -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.mobikwik_new" />

        <!-- US / Global Payment Apps -->
        <package android:name="com.paypal.android.p2pmobile" />
        <package android:name="com.venmo" />
        <package android:name="com.squareup.cash" />
        <package android:name="com.zellepay.zelle" />
        <package android:name="com.google.android.apps.walletnfcrel" />

        <!-- UK / Europe Payment Apps -->
        <package android:name="com.revolut.revolut" />
        <package android:name="co.uk.getmondo" />
        <package android:name="mobi.barclays.android.barclaysmobilebanking" />
        <package android:name="com.lloydsbank.mobilebanking" />
        <package android:name="de.number26.android" />
        <package android:name="com.lydia" />

        <!-- Canada Payment Apps -->
        <package android:name="com.rbc.mobile.android" />
        <package android:name="com.td" />
        <package android:name="com.cibc.mobile.banking" />
        <package android:name="com.scotiabank.mobile" />
        <package android:name="com.bmo.mobile" />
        <package android:name="com.tangerine.android" />
        <package android:name="com.wealthsimple.trade" />

        <!-- Australia Payment Apps -->
        <package android:name="au.com.commbank.netbank" />
        <package android:name="au.com.nab.mobile" />
        <package android:name="com.westpac.bank" />
        <package android:name="au.com.anz.plus" />
        <package android:name="au.com.beemit" />

        <!-- Singapore Payment Apps -->
        <package android:name="com.dbs.dbspaylah" />
        <package android:name="com.grabtaxi.passenger" />
        <package android:name="com.ocbc.mobile" />
        <package android:name="com.uob.mobile" />
        <package android:name="sg.nets.netspay" />
        <package android:name="com.SingTel.mWallet" />

        <!-- Japan Payment Apps -->
        <package android:name="jp.ne.paypay.android" />
        <package android:name="jp.co.rakuten.pay" />
        <package android:name="com.linecorp.linepay" />

        <!-- Brazil Payment Apps -->
        <package android:name="com.nu" />
        <package android:name="com.bb.android" />
        <package android:name="com.itau" />
        <package android:name="com.bradesco" />
        <package android:name="com.picpay" />
        <package android:name="com.mercadopago.merchant" />

        <!-- New Zealand Payment Apps -->
        <package android:name="nz.co.anz.gomoney" />
        <package android:name="nz.co.asb.mobile" />
        <package android:name="nz.co.bnz.droidbanking" />
        <package android:name="nz.co.westpac" />

        <!-- Mexico Payment Apps -->
        <package android:name="com.bancomer.mbanking" />

        <!-- UAE Payment Apps -->
        <package android:name="com.etisalat.ewallet" />
        <package android:name="com.Isys.Payitv2" />
        <package android:name="com.emiratesnbd.EmiratesNBD" />
        <package android:name="com.adcb.mobilebanking" />
        <package android:name="com.mashreq.mobile" />

        <!-- Saudi Arabia Payment Apps -->
        <package android:name="sa.com.stcpay" />
        <package android:name="com.neoleap.urpay" />
        <package android:name="com.alrajhibank.alrajhimobile" />
        <package android:name="com.alahli.mobile" />
    </queries>

    <application
        android:name=".MoneyPilotApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:extractNativeLibs="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyPilot">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MoneyPilot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <service
            android:name=".service.TransactionNotificationListener"
            android:label="MoneyPilot Transaction Tracker"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>